<table>
  <thead>
    <tr>
      <th>Year Released</th>
      <th>Rating</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.year_released %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.title %></td>
      <td><%= movie.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>
