body {
  padding: 0 20px 50px 20px;
}

nav {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid black;
}

nav ul li:last-child {
  border: none;
}

nav ul li form {
  display: inline;
}

.story_form form input {
  display: block;
  margin-bottom: 1.5em;
  width: 450px;
}

.story_form form label {
  font-weight: bold;
}

.story_form form input[type=submit] {
  width: inherit;
  margin-top: 20px;
}

#error_explanation {
  width: 415px;
  background-color: #FFCCCC;
  padding: 1px 20px;
  margin-bottom: 2em;
}

.field_with_errors input {
  border: 1px solid #FF4D4D;
}

h3.alert {
  color: #C73EB2;
}

h3.notice {
  color: #9CB711;
}